.content-area {
  padding: 0 !important;
  overflow-x: hidden;
}

.header-landing {
  background-color: transparent;
}

.navbar-inverse {
  background-color: aqua;
  transition: background-color 200ms linear;
}

@media screen and (min-width: 768px) {
  .main-container header,
  .main-container .header {
    justify-content: center;
  }
}

.landing-nav {
  width: 100%;
}
