<clr-main-container>
  <clr-header class="header-rape">

    <div class="branding">
      <a href="/" class="nav-link">
        <img
          style="color: white"
          src="../assets/Logo_white.svg"
          alt="logo"
          width="45px"
        />
        <span class="title" style="color: white; padding-left: 1rem">
          Astrocode
        </span>
      </a>
    </div>

    <div class="header-nav" [clr-nav-level]="1">
      <a href="#company" class="nav-link"><span class="nav-text">COMPANY</span></a>
      <a href="#products" class="nav-link"><span class="nav-text">PRODUCTS</span></a>
      <a href="#portfolio" class="nav-link"><span class="nav-text">PORTFOLIO</span></a>
      <a href="#contact" class="nav-link"><span class="nav-text">CONTACT</span></a>
    </div>

    <div class="header-actions">
      <a class="nav-link nav-icon-text">
        <clr-icon shape="user" class="dark-matter"></clr-icon>
        <span class="nav-text">SIGN IN</span>
      </a>
      <a class="nav-link nav-icon-text">
        <clr-icon shape="user" class="dark-matter"></clr-icon>
        <span class="nav-text">LOGOUT</span>
      </a>
    </div>
  </clr-header>

  <div class="content-container">
    <div
      class="content-area">
      <section #home class="home clr-row clr-align-items-center clr-justify-content-around">
        <div class="clr-row clr-align-items-center">
          <div class="clr-col">
            <h1>Find your online solutions!</h1>
            <h4>
              Browse our e-commerce solutions
            </h4>
          </div>
          <div class="clr-col-md-6">
            <img
              src="../../assets/clip-966.png"
              alt="logo"
              width="100%"
            />
          </div>
        </div>
      </section>
      <section #company class="clr-row clr-align-items-center clr-justify-content-around">
        <div class="clr-col-lg-4">
          <h1>COMPANY</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
      </section>
      <section #portfolio class="home clr-row clr-align-items-center clr-justify-content-around">
        <div class="clr-row clr-align-items-center">
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
                <div class="card">
                    <div class="card-block">
                      <clr-icon shape="display"></clr-icon>
                    </div>
                    <div class="card-footer">
                      <div class="card-title">
                        Landing pages
                      </div>
                      <div class="card-text">
                          ...
                      </div>
                    </div>
                </div>
            </div>
            <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
              <div class="card">
                  <div class="card-block">
                    <div class="card-block">
                      <clr-icon shape="display"></clr-icon>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="card-title">
                        e-commerce
                    </div>
                    <div class="card-text">
                        ...
                    </div>
                  </div>
              </div>
            </div>
            <div class="clr-col-lg-4 clr-col-md-8 clr-col-12">
              <div class="card">
                  <div class="card-block">
                    <div class="card-block">
                      <clr-icon shape="display"></clr-icon>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="card-title">
                      Web Services
                    </div>
                    <div class="card-text">
                      ...
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section #products class="clr-row clr-align-items-center clr-justify-content-around">
        <div class="clr-row clr-align-items-center">
          <div class="clr-col">
            <h1>PORTFOLIO</h1>
            <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
              <div class="card">
                <div class="card-block">
                  <div class="card-block">
                    <clr-icon shape="display"></clr-icon>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="card-title">
                    Experience
                  </div>
                  <div class="card-text">
                    ...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer #contact>
        <ul>
          <li>
            <clr-icon shape="envelope"></clr-icon>
            <a href="mailto:astrocode@gmail.com">astrocode@gmail.com</a>
          </li>
          <li>
            <clr-icon shape="mobile"></clr-icon>
            <a href="tel:+54878878777">
              +54878878777
            </a>
          </li>
          <li>
            <clr-icon shape="network-globe"></clr-icon>
            <a href="mailto:astrocode@gmail.com">
              facebook.com/astrocode
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </div>
</clr-main-container>
