section {
  padding: 1rem;
  min-height: 70%;
  background: transparent;
  height: 90vh;
}

.title {
  color: white;
}

.home-text {
  padding-bottom: 20px;
}

.picture {
  width: 50vh;
}

.home-image {
  text-align: center;
}
