<section
  id="products"
  class="home ac-palette-1 clr-row clr-align-items-center clr-justify-content-around"
>
  <h1 class="title">Our best selling services</h1>

  <div class="clr-break-row"></div>
  <div
    class="clr-row clr-align-items-start clr-justify-content-around clr-col-sm-12 clr-col-lg-8"
  >
    <ac-card
      [title]="'Landings'"
      [asset]="'../../assets/vectors/Peach - DrawKit/UI Elements/web-ui-2.svg'"
      [gradient]="'teal'"
      [description]="
        '
          Pick from our beautifully crafted templates and customize it to your heatr\'s content.'
      "
    ></ac-card>

    <ac-card
      [title]="'Mailing'"
      [asset]="'../../assets/vectors/Peach - DrawKit/UI Elements/email-notification.svg'"
      [gradient]="'blue'"
      [description]="
        'Ever wanted to have your own corporate e-mail address? We can make that happen.'
      "
    ></ac-card>

    <ac-card
      [title]="'Hosting'"
      [asset]="'../../assets/vectors/Peach - DrawKit/Devices/server.svg'"
      [gradient]="'purple'"
      [description]="
        'We provide the perfect hosting solution and for your great online services.'
      "
    ></ac-card>
  </div>
</section>
