section {
  /* background-color: #392f5a; */
  /* background: linear-gradient(180deg, rgba(57, 47, 90, 0) 0%, rgba(57, 47, 90, 0.8) 20.31%); */
  background: linear-gradient(196.23deg, #392F5A 22.66%, #FFFFFF 22.73%);
  color: white !important;
  padding: 1rem;
  min-height: 70%;

}

.title {
color: white;
}
