<footer id="contact">
    <ul>
        <li>
            <clr-icon shape="envelope"></clr-icon>
            <a href="mailto:astrocode@gmail.com">astrocode@gmail.com</a>
        </li>
        <li>
            <clr-icon shape="mobile"></clr-icon>
            <a href="tel:+54878878777"> +54878878777 </a>
        </li>
        <li>
            <clr-icon shape="network-globe"></clr-icon>
            <a href="https://facebook.com/astrocodeio"> facebook.com/astrocodeio </a>
        </li>
    </ul>
</footer>