<footer id="contact" class="ac-palette-5">
  <div class="clr-row">
    <div class="clr-col-md-6">
      <h6>2020 Astrocode</h6>
    </div>
    <div class="clr-col-md-6">
      <ul>
        <li>
          <a href="mailto:contact@astrocode.io">
            <clr-icon shape="envelope" size="32"> </clr-icon>
          </a>
        </li>

        <li>
          <a href="tel:+54878878777">
            <clr-icon shape="mobile" size="32"></clr-icon>
          </a>
        </li>

        <li>
          <a href="https://facebook.com/astrocodeio" target="_blank">
            <img src="assets/facebook.png" width="26" />
          </a>
        </li>

        <li>
          <a href="https://instagram.com/astrocode.io" target="_blank">
            <img src="assets/instagram.png" width="26" />
          </a>
        </li>

        <li>
          <a href="https://twitter.com/astrocodeio" target="_blank">
            <img src="assets/twitter.png" width="26" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>