/* Footer */
footer {
  width: 100%;
  background-color: rgb(49, 49, 49);
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 70px;
}

footer a {
  text-align: center;
  color: white;
  text-decoration: none;
}
