.ac-card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 5px rgb(155, 95, 212, 0.3);
  border: 0px;
  width: 350px;
}

.ac-card-sm {
  width: 350px;
}

.ac-card-lg {
  width: 700px;
}

.ac-card-body {
  text-align: center;
}

.card-image {
  border-radius: 50% !important;
  aspect-ratio: 1;
}

.image-radius {
  border-radius: 50px !important;
  box-shadow: 0px 10px 20px 0px rgba(50, 170, 245, 0.74);
  min-width: 80px;
  padding: 1rem;
  min-height: 80px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  object-fit: cover;
}
.image-gradient {
  /* background-color:purple; */
  background:  linear-gradient(45deg, #2D8AEE 34.04%, rgba(50, 170, 245, 0.74) 66.71%, rgba(55, 201, 251, 0.21) 92.71%);
}

.title {
  padding-top: 8px;
}
