<section id="company" class="home clr-row clr-align-items-center clr-justify-content-around">
  <div class="clr-row clr-align-items-center clr-col-md-8">
    <div class="clr-col-md-6">
      <ng-lottie [options]="options"></ng-lottie>

    </div>
    <div class="clr-col-md-6">
      <h1 class="title">Company</h1>
      <h4 class="description">
        Astrocode is a team formed by software researchers with years of experience working in the field for many big
        companies.
        Our skills range from Web development, web infraestructure to AI development.
        Our goal is to provide affordable and reliable solutions that are also easy to use.
      </h4>
    </div>
  </div>
</section>