<section
  id="company"
  class="home clr-row clr-align-items-center clr-justify-content-around"
>
  <div class="clr-row clr-align-items-center clr-col-md-8">
    <div class="clr-col-6">
      <img src="../../assets/clip-966.png" alt="logo" width="100%" />
    </div>
    <div class="clr-col-6">
      <h1 class="title">About us</h1>
      <h4 class="description">
        Astrocode took shape after realizing the market is overwhelmed with tons
        of consulting companies but no solutions. We pride ourselves on beign
        able to provide the best solution for our customers.
      </h4>
    </div>
  </div>
</section>
