<div class="nav-container">
  <div class="branding">
    <a href="#home" class="nav-link">
      <img src="../assets/Logo_white.svg" alt="logo" class="nav-logo"  />
      <h6 class="logo-title"> ASTROCODE </h6>
    </a>
  </div>

  <div class="header-nav" [clr-nav-level]="1">
    <a href="#products" class="nav-link"><span class="nav-text">PRODUCTS</span></a>
    <a href="#company" class="nav-link"><span class="nav-text">COMPANY</span></a>
    <a href="#get-started" class="nav-link"><span class="nav-text">GET STARTED</span></a>
    <a href="#contact" class="nav-link"><span class="nav-text">CONTACT</span></a>
  </div>
</div>
