.nav-container {
  display: flex;
  justify-content: space-around;
}

.logo-title {
  margin-top: 0 !important;
  padding-left: 1rem !important;
  font-weight: 400 !important;
}

.nav-text {
  color: white !important;
}
