<div class="nav-container">
  <div class="branding">
    <a href="#home" class="nav-link">
      <img class="logo" src="../assets/Logo.svg" alt="logo" width="45px" />
      <h6 class="logo-title"> ASTROCODE </h6>
    </a>
  </div>

  <div class="header-nav" [clr-nav-level]="1">
    <a href="#company" class="nav-link"><span class="nav-text">COMPANY</span></a>
    <a href="#products" class="nav-link" (click)="toTop()"><span class="nav-text">PRODUCTS</span></a>
    <a href="#contact" class="nav-link"><span class="nav-text">CONTACT</span></a>
  </div>
</div>