/* You can add global styles to this file, and also import other style files */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  color: white !important;
  font-family: "Quicksand", sans-serif !important;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
  font-family: "Quicksand", sans-serif !important;
}

a {
  text-decoration: none;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 0.5rem;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #AFB3CB;

// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #727596;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #6c43b8;

// }

.ac-palette-1 {
  background-color: #dee3f1 !important;
}

.ac-palette-2 {
  background-color: #727596 !important;
}

.ac-palette-3 {
  background-color: #afb3cb !important;
}

.ac-palette-4 {
  background-color: #a2a6b7 !important;
}

.ac-palette-5 {
  background-color: #464c5e !important;
}

.ac-palette-6 {
  background-color: #2e45a0 !important;
}

.ac-palette-7 {
  background-color: #0e0f1e !important;
}

.ac-main-container-gradient {
  background: -moz-linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 18, 254, 1) 0%,
    rgba(98, 64, 249, 1) 100%
  );
  background: -webkit-linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 18, 254, 1) 0%,
    rgba(98, 64, 249, 1) 100%
  );
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 18, 254, 1) 0%,
    rgba(98, 64, 249, 1) 100%
  );
}
