/* You can add global styles to this file, and also import other style files */
html, body { max-width: 100%; overflow-x: hidden; }

li {
    list-style: none
}

a {
    text-decoration: none;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 0.5rem;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #AFB3CB;

// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #727596;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #6c43b8;

// }

.ac-palette-1 {
  background-color: #DEE3F1 !important;
}

.ac-palette-2 {
  background-color: #727596 !important;
}

.ac-palette-3 {
  background-color: #AFB3CB !important;
}

.ac-palette-4 {
  background-color: #A2A6B7 !important;
}

.ac-palette-5 {
  background-color: #464C5E !important;
}

.ac-palette-6 {
  background-color: #2E45A0 !important;
}


.ac-palette-7 {
  background-color: #0E0F1E !important;
}
